

.client__inner {
  margin-top: 160px;
  margin-bottom: 160px;
}

.client__title {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 81px;
  font-family: 'Fraunces Soft' , serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #A7AAAD;
}

.client__list {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.client__item {
  position: relative;
  width: 350px;
  margin-right: 30px;
  list-style-type: none;
}

.client__item:nth-child(3) {
  margin-right: 0;
}

.client__item::before {
  position: absolute;
  top: 0;
  left: 139px;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image: url("../images/Emily.svg");
  background-repeat: no-repeat;
  content: "";
}

.client__item:nth-child(2)::before {
  background-image: url("../images/Thomas.svg");
}

.client__item:nth-child(3)::before {
  background-image: url("../images/Jennie.svg");
}

.client__text {
  margin: 0;
  margin-top: 130px;
  margin-bottom: 69px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #5B636D;
}

.client__name-text {
  display: block;
  margin-bottom: 9px;
  font-family: 'Fraunces Soft' , serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.128571px;
  color: #24303E;
}

.client__position {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #A7AAAD;
}

@media only screen and (max-width: 576px) {
  .client__inner {
    margin-top: 64px;
    margin-bottom: 86px;
  }

  .client__title {
    width: 416px;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  .client__list {
    width: 327px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .client__item {
    width: 327px;
    margin-right: 0;
    margin-bottom: 64px;
  }

  .client__text {
    margin: 0;
    margin-top: 130px;
    margin-bottom: 32px;
  }

  .client__item::before {
    position: absolute;
    top: 0;
    left: 130px;
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url("../images/Emily.svg");
    background-repeat: no-repeat;
    content: "";
  }
}